{% extends "layout.html" %} {% block content %}
<div
    class="flex justify-center w-screen p-2 mt-12 print:p-0 print:w-full print:mt-0"
>
    <div
        class="resume grid grid-cols-1 gap-8 sm:grid-cols-3 px-8 py-2 md:p-0 max-w-screen-lg min-w-min print:w-full print:p-0 print:grid-cols-3"
    >
        <div class="profile">
            <h2 class="font-bold text-4xl leading-8 print:text-3xl">
                {{ person.name }}
            </h2>
            <h1 class="font-bold my-2 text-2xl print:hidden print:h-0">
                {{ role.role }}
            </h1>
            <ul class="my-2">
                {% for key, value in person.contact.items() %} {% if key !=
                'github' %}
                <li class="pb-1">{{ value }}</li>
                {% endif %} {% endfor %}
            </ul>
            <ul>
                {% for link in person.links %}
                <li class="text-sm">
                    <a
                        href="{{ person.links[link]['url'] }}"
                        target="_blank"
                        rel="me"
                    >
                        <span class="w-5 inline-block"
                            >{{ person.links[link]['icon'] }}</span
                        >
                        <span>{{ person.links[link]['text'] }}</span></a
                    >
                </li>
                {% endfor %} {% if person.contact['github'] %}
                <li class="text-sm">
                    <a
                        href="https://github.com/{{ person.contact['github'] }}"
                        target="_blank"
                        rel="me"
                    >
                        <span class="w-5 inline-block"
                            ><i class="fab fa-github"></i
                        ></span>
                        <span>{{ person.contact['github'] }}</span></a
                    >
                </li>
                {% endif %}
            </ul>
            <h3 class="mt-4 text-xl font-bold">Education</h3>
            <ul>
                {% for edu in person.education %}
                <li>
                    <h4 class="mt-2 text-lg print:text-base print:mt-1">
                        {{ edu }}
                        <span class="float-right"
                            >{{ person.education[edu].graduation }}</span
                        >
                    </h4>
                    <p class="text-sm print:text-xs">
                        {{ person.education[edu].school }}<br />
                        {{ person.education[edu].degree }}, {{
                        person.education[edu].study }}
                    </p>
                </li>
                {% endfor %}
            </ul>
            <h3 class="mt-4 text-xl font-bold">Skills</h3>
            <ul>
                {% for category in person.skills %}
                <li>
                    <h4
                        class="mt-2 text-lg print:text-base print:mt-1 print:font-bold"
                    >
                        {{ category }}
                    </h4>
                    <ul class="text-sm">
                        {% for skill in person.skills[category] %}
                        <li class="grid grid-cols-4">
                            <span class="col-span-3">{{ skill.skill }}</span>
                            <span class="text-right"
                                >{{ skill.years }} {{ 'yr' if skill.years == 1
                                else 'yrs' }}</span
                            >
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="resume col-span-2">
            <h1 class="hidden font-bold my-0 mb-2 text-2xl print:block">
                {{ role.role }}
            </h1>
            <p
                class="text-xl text-gray-600 pb-2 leading-tight print:text-sm print:leading-tight"
            >
                {{ role.summary }}
            </p>
            <div
                class="pt-4 pb-3 my-2 border-t-2 border-b-2 print:pt-2 print:pb-2 print:my-1"
            >
                <h2
                    class="text-2xl font-bold leading-tight print:text-lg print:leading-none"
                >
                    Skillset
                </h2>
                <ul
                    class="grid grid-cols-2 md:grid-cols-3 print:grid-cols-3 print:text-xs mt-4 print:mt-1"
                >
                    {% for skill in role.skills %}
                    <li class="pb-1 print:pb-0">{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% for exp in experience %} {% set work = experience[exp] %}
            <div class="mt-6 job-history print:mt-4">
                <h3
                    class="text-lg font-bold leading-tight mb-1 print:text-sm print:leading-none"
                >
                    {{ work.role }}
                </h3>
                <ul class="text-sm print:text-xs print:leading-tight">
                    <li>
                        <a href="{{ work.url }}" target="_blank"
                            >{{ work.company }}</a
                        >
                        · {{ work.type }} · {{ work.location }}
                    </li>
                    <li class="text-gray-500">
                        {{ work.start }} – {{ work.end }} ({{ work.length }})
                    </li>
                </ul>
                <p class="text-sm mt-2 print:mt-0 print:text-xs">
                    {{ work.description }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
