<!DOCTYPE html>
<html lang="en" class="text-gray-900 leading-tight">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>{{ meta.title }}</title>
    <style type="text/css" media="print">
    @page {
      size:  auto;
      margin: 8mm 0;
    }
    @page :first {
      size:  auto;
      margin: 0mm;
    }
    /* html {
        background-color: #FFFFFF;
        margin: 0px;
    } */
    body {
        margin: 8mm 10mm;
    }
    .job-history {
      page-break-inside: avoid;
    }
    </style>
</head>
<body class="min-h-screen bg-gray-100">
  <nav class="grid grid-cols-6 p-2 bg-black text-gray-50 print:hidden">
    <div class="name">
      <a href="{{ site.url }}/">
        <strong>{{ person.name }}</strong>
        <img src="{{ person.gravatar }}" class="inline-block" />
      </a>
    </div>
    <ul class="col-span-5 text-right">
      {% for link in site.nav %}
        <li><a href="{{ site.nav[link].href }}">{{ site.nav[link].anchor }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <div id="main">
    {% block content %} {% endblock %}
  </div>
</body>
</html>
