{% extends "layout.html" %}
{% block content %}
<div class="flex justify-center w-screen p-2 mt-3">
  <div class="resume grid grid-cols-3 gap-8 w-2/3 max-w-screen-lg">
      <div class="profile">
        <h2 class="font-bold text-4xl leading-8">{{ person.name }}</h2>
        <h1 class="font-bold my-2 text-2xl">{{ role.role }}</h1>
        <p class="p-2 bg-white rounded-md text-sm">{{ person.taglines.default }}</p>
        <ul class="my-2">
          {% for contact in person.contact %}
          <li class="pb-1">{{ person.contact[contact] }}</li>
          {% endfor %}
        </ul>
        <ul>
          {% for link in person.links %}
            <li class="text-sm">
              <a href="{{ person.links[link]['url'] }}" target="_blank" rel="me">
                <span class="w-5 inline-block">{{ person.links[link]['icon'] }}</span>
                <span>{{ person.links[link]['text'] }}</span></a>
            </li>
          {% endfor %}
        </ul>
        <h3 class="mt-4 text-xl font-bold">Skills</h3>
        <ul>
          {% for category in person.skills %}
            <li>
              <h4 class="mt-2 text-lg">{{ category }}</h4>
              <ul class="text-sm">
                {% for skill in person.skills[category] %}
                <li class="grid grid-cols-4">
                  <span class="col-span-3">{{ skill.skill }}</span>
                  <span class="text-right">{{ skill.years }} {{ 'year' if skill.years == 1 else 'years' }}</span>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="resume col-span-2">
        <p class="text-2xl text-gray-600 pb-2 mb-2 border-b-2">{{ role.summary }}</p>
      </div>
  </div>
</div>
{% endblock %}
